############################################################################
#   Misty WOrld fichier de configuration du serveur d'authentification     #
############################################################################
[authentification]

###################################################################################################
# SECTION INDEX
#
#    EXEMPLE DE CONFIGURATION
#    REGLAGES DU SERVEUR AUTHENTIFICATION
#    REGLAGES MYSQL
#    REGLAGES DU SYSTEME DE JOURNALISATION
#
###################################################################################################

###################################################################################################
# EXEMPLE DE CONFIGURATION
#
#    Variable
#        Description: Brève description de ce que la variable fait.
#        Important:   Annotation des détails importants à propos cette variable.
#        Exemple:     "Exemple, c'est à dire si la valeur est une chaîne"
#        Défaut:     10 - (Enabled|Comment|Nom de la variable dans le cas des options de configuration groupés)
#                     0  - (Disabled|Comment|Nom de la variable dans le cas des options de configuration groupés)
#
# Note aux développeurs:
# - Copiez cet exemple pour garder la forme.
# - Les sauts de ligne doivent être à la colonne 100.
###################################################################################################

###################################################################################################
# REGLAGES DU SERVEUR AUTHENTIFICATION
#
#    LogsDir
#        Description: réglage de répertoire de Logs.
#        Important: LogsDir doit être cité, tant que la chaîne peut contenir des espaces.
#                     Le répertoire Logs doit existez, ou la création du fichier journal sera désactivée.
#        Défaut:     "" - (Les fichiers journaux sont stockés dans le répertoire courant)

LogsDir = ""

#
#    DureeMaxPing
#        Description: Le temps (en minutes) entre les pings de base de données.
#        Défaut:     30

DureeMaxPing = 30

#
#    PortDuServeurRoyaume
#        Description: Port TCP pour atteindre le serveur d'authentification.
#        Défaut:     3724

PortDuServeurRoyaume = 3724

#
#
#    BindIP
#        Description: Bind serveur d'authentification IP/nom d'hôte
#        Défaut:     "0.0.0.0" - (Lier à toutes les adresses IP sur le système)

BindIP = "0.0.0.0"

#
#    PidFile
#        Description: Fichier authentification PID du serveur.
#        Exemple:     "./authserveur.pid"  - (Activé)
#        Défaut:     ""                  - (Désactivé)

PidFile = ""

#
#    UseProcessors
#        Description: masque des processeurs pour les systèmes multi-processeurs basés sur Windows et Linux.
#        Exemple:     Un ordinateur avec deux processeurs:
#                     1 - 1er CPU uniquement, 2 - 2e CPU uniquement, 3 - 1er et 2 CPU, car 1 | 2 sont 3
#        Défaut:     0  - (Sélectionné par OS)
#                     1+ - (Valeur de masque de bits des processeurs sélectionnés)

UtiliserProcesseurs = 0

#
#    PrioritéDuProcessus
#        Description: Réglage des priorités du processus pour les systèmes basés sur Windows et Linux.
#        Détails: Sous Linux, une valeur de -15 est utilisé. (nécessite superutilisateur). Sous Windows, le processus est réglé sur priorité HAUTE.
#        Défaut:     0 - (Normal)
#                     1 - (Haute)

PrioriteDuProcessus = 0

#
#    DelaiDeMiseAJourDuStatusDuRoyaume
#        Description: Le temps (en secondes) entre les mises à jour de la liste des royaumes.
#        Défaut:     20 - (Activé)
#                     0  - (Désactivé)

DelaiDeMiseAJourDuStatusDuRoyaume = 20

# 
#    PasseErronees.NombreMax
#        Description: Nombre d'essais de connexion avec un mot de passe incorrect avant que le compte ou IP soit bannie.
#        Défaut:     0  - (Désactivé)
#                     1+ - (Activé

PasseErronees.NombreMax = 0

#
#    PasseErronees.TempsDeBan
#        Description: le temps (en seconde) de bannissement de compte ou IP pour tentatives de connexion non valides.
#        Défaut:     600 - (10 minutes)
#                     0   - (Interdiction permanente)

PasseErronees.TempsDeBan = 600

#
#    PasseErronees.TypeDeBan
#        Description: Type de Ban pour les tentatives de connexion non valides.
#        Défaut:     0 - (Ban IP)
#                     1 - (Ban Compte)

PasseErronees.TypeDeBan = 0

#
###################################################################################################

###################################################################################################
# REGLAGES MYSQL
#
#    InfoBaseDeDonneesConnexion
#        Description: Paramètres de la base de données connexion pour le serveur royaume.
#        Exemple:     "hôte;port;NomUtilisateur;MotDePasse;BaseDeDonnees"
#                     ".;nombre;NomUtilisateur;MotDePasse;BaseDeDonnees" - (utiliser des noms de conduites sous Windows
#                                                                 "activer-nom-conduite" pour [mysqld] dans la
#                                                                 section my.ini)
#                     ".;/patch/pour/unix_socket;NomUtilisateur;MotDePasse;BaseDeDonnees" - (utiliser sockets Unix sur
#                                                                           Unix/Linux)
#        Défaut:     "127.0.0.1;3306;MistyWorld;MistyWorld;authentification"

InfoBaseDeDonneesConnexion = "127.0.0.1;3306;MistyWorld;MistyWorld;authentification"

#
#    BaseDeDonneesConnexion.FilDeProduction
#        Description: La quantité de fil de production engendré pour traiter (retardées) les déclarations MySQL asynchrones.
#						       Chaque fil de production est mis en miroir avec sa propre connexion à
#        Défaut:     1

BaseDeDonneesConnexion.FilDeProduction = 1

#
###################################################################################################

###################################################################################################
#
#  REGLAGES DU SYSTEME DE JOURNALISATION
#
#  Valeurs de configuration de l'attacheur: Donner un "nom" à l'attacheur
#    Appender.nom
#        Description: Définit 'où enregistrer'
#        Format:      Type,NiveauDeLog,Drapeaux,optionnel1,optionnel2,optionnel3
#
#                     Type
#                         0 - (Aucun)
#                         1 - (Console)
#                         2 - (Fichier)
#                         3 - (DB)
#
#                     NiveauDeLog
#                         0 - (Désactivé)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Avertir)
#                         5 - (Erreur)
#                         6 - (Fatal)
#
#                     Drapeaux:
#                         0 - Aucun
#                         1 - Préfixe Horodatage au texte
#                         2 - Préfixe niveau de log au texte
#                         4 - Préfixe type de filtre de au texte
#                         8 - Ajouter horodatage au nom du fichier journal. Format: YYYY-MM-DD_HH-MM-SS (Utilisé uniquement avec le type = 2)
#                        16 -Faire une sauvegarde de fichier existant avant d'écraser (Utilisé uniquement avec le mode = w)
#
#                     Couleurs (lire comme Optionnel1 si le type = Console)
#                         Format: "fatale erreur avertir infos débogage trace"
#                         0 - NOIR
#                         1 - ROUGE
#                         2 - VERT
#                         3 - MARRON
#                         4 - BLEU
#                         5 - MAGENTA
#                         6 - CYAN
#                         7 - GRIS
#                         8 - JAUNE
#                         9 - LROUGE
#                        10 - LVERT
#                        11 - LBLEU
#                        12 - LMAGENTA
#                        13 - LCYAN
#                        14 - BLANC
#                         Exemple: "13 11 9 5 3 1"
#
#                     Fichier: Nom du fichier (lire comme Optionnel1 si Type = fichier)
#                         Permet d'utiliser un "%s" pour créer des fichiers dynamiques
#
#                     Mode: Mode pour ouvrir le fichier (lire comme Optionnel2 si Type = fichier)
#                          a - (annexer)
#                          w - (Remplacer)
#
#                     MaxFileSize: Taille maximale du fichier journal avant de créer un nouveau fichier journal
#                     (lire comme optionnel3 si Type = Fichier)
#                         La taille est mesurée en octets exprimés en un entier non signé 64 bits.
#                         Valeur maximale est de 4294967295 (4 Go). Laissez ce champ vide pour aucune limite.
#                         REMARQUE: Ne fonctionne pas avec les noms de fichiers dynamiques.
#                         Exemple:  536870912 (512 mb)
#

Appender.Console=1,2,0
Appender.Auth=2,2,0,Auth.log,w

#  Valeurs de configuration de l'enregistreur: Donner un "nom" à l'enregistreur
#    Logger.nom
#        Description: Définit 'Ce qu'il faut enregistrer'
#        Format:      NiveauDeLog,ListeAAttacher
#
#                     NiveauDeLog
#                         0 - (Désactivé)
#                         1 - (Trace)
#                         2 - (Debug)
#                         3 - (Info)
#                         4 - (Avertir)
#                         5 - (Erreur)
#                         6 - (Fatal)
#
#                     ListeAAttacher: Liste des attache liés à l'historique
#                     (Utiliser des espaces comme séparateur).
#

Logger.root=3,Console Auth

#
###################################################################################################
